{% extends "mainapp/base_with_nav.html" %}
{% load static %}

{% block title %}
    Authenticate Token
{% endblock title %}

{% block pagehead %}
    Authentication
{% endblock %}

{% block toggleicon %}
    <a href="{% url 'index' %}"><i class="ion-ios-home custom-icon"></i></a>
{% endblock %}

{% block backlink %}
    <a href="{% url 'index' %}"><i class="ion-ios-arrow-left back-btn"></i></a>
{% endblock %}

{% block body %}
<div class="shop-container">
    <div class="center-row">
        <h4>Shop Name : {{ shop.name }}</h4>
        <h5>Insert Token ID?</h5>

        <form action="{% url 'auth_token' %}" method="POST">
            {% csrf_token %}
            <div class="qr-input-form">
            <input name="token_id" type="text" class="qrcode-text custom-qrcode-in">
            <label class="qrcode-text-btn">
                <input type=file
                    accept="image/*"
                    capture=environment
                    onchange="openQRCamera(this);"
                    tabindex=-1>
            </label>
            </div>

            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            
            <input type="submit" class="btn qrcode-text c-blue-btn qr-btn" value="Submit"/>
        </form>
    </div>
</div>

    <script>
    function openQRCamera(node) {
        var reader = new FileReader();
        reader.onload = function() {
            node.value = "";
            qrcode.callback = function(res) {
            if(res instanceof Error) {
                alert("No QR code found. Please make sure the QR code is within the camera's frame and try again.");
            } else {
                node.parentNode.previousElementSibling.value = res;
            }
            };
            qrcode.decode(reader.result);
        };
        reader.readAsDataURL(node.files[0]);
    }
    function showQRIntro() {
        return confirm("Use your camera to take a picture of a QR code.");
    }
    </script>
{% endblock body %}