{% extends "mainapp/base.html" %}
{% load static %}

{% block title %}
    First
{% endblock %}

{% block body %}
    <div class="container-fluid" style="background-color: rgb(255, 255, 255); height: 100vh;">
        <h1>&nbsp;</h1>
        <div class="first-container">
            <img src="{% static 'mainapp/images/logo.png' %}" alt="Qbot logo">
            <a class="btn btn-primary btn-first-time" href="{% url 'register' %}">login as owner</a>
            <a class="btn btn-outline-primary btn-first-time" href="{% url 'tokens' %}">login as user</a>
        </div>
    </div>
{% endblock %}
