{% extends "mainapp/base_index.html" %}
{% load static%}

{% block title %}
    Queue App
{% endblock %}

{% block body %}
    <div class="container-custom no-gutters">
        {% if user.username %}
        <a id="to-owner-shop" style="text-decoration: none;">
            <div class="card-info">
                <div class="home-queue-info">
                    <div class="home-quebook-info col-sm-12">
                        <p class="h-queue-block main-color">Qbot Technology</p>
                        <p class="h-queue-block">Yangon</p>
                        <h4>{{ shop.name }}</h4>
                        <div class="row">
                            <div class="col-6 no-gutters">
                            <p class="h-counter-text">{{ in_serving }}</p>
                            <p class="h-counter-info">People in shop</p>
                            </div>
                            <div class="col-6 no-gutters">
                            <p class="h-counter-text">{{ in_queue }}</p>
                            <p class="h-counter-info">People in queue</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
            
        {% else %}

            <!-- Here your card Charles -->

            <div class="card-info">
                <div class="queue-info {% if token.on_call %}queue-active{% endif %}">
                    <p class="queue-block main-color">Qbot Technology</p>
                    <p class="queue-block">Yangon</p>
                    <h2 class="queue-block">QB{{ token.queue_id }}</h2>
                    <h3 class="queue-block">{{ token.shop_name }}</h3>
                    <h4>Status: {{ token.status }}</h4>
                    <h4>Date: 12:30PM</h4>
                </div>
            </div>
        {% endif %}

        <div class="main-menu row no-gutters">
            <!-- --------------Customer-------------- -->
            {% if phone_number %}
            <div class="menu-item col-6">
                <a href="{% url 'shop_list' %}">
                <div class="item-detail">
                    <i class="ion-ios-cart item-color1"></i>
                    <p>Shop List</p>
                </div>
                </a>
            </div>
            <div class="menu-item col-6">
                <a href="{% url 'tokens' %}">
                <div class="item-detail">
                    <i class="ion-ios-bookmarks item-color2"></i>
                    <p>Your Tokens</p>
                </div>
                </a>
            </div>

            <div class="menu-item col-6">
                <a href="{% url 'register_phone' '/' %}">
                <div class="item-detail">
                    <i class="ion-ios-telephone item-color5"></i>
                    {% if phone_number %}
                        <p>Ph: {{ phone_number }}</p>
                    {% else %}
                        <p>Add Phone Number</p>
                    {% endif %}
                </div>
                </a>
            </div>
            
            {% else %}
            <!-- --------------Owner-------------- -->
            <div class="menu-item col-6">
                <a href="{% url 'shop_profile' %}">
                <div class="item-detail">
                    <i class="ion-ios-cart item-color3"></i>
                    <p>Shop Profile</p>
                </div>
                </a>
            </div>

            <div class="menu-item col-6">
                <a href="{% url 'auth_token' %}">
                <div class="item-detail">
                    <i class="ion-qr-scanner item-color2"></i>
                    <p>Auth Tokens</p>
                </div>
                </a>
            </div>
            {% endif %}

            <!-- --------------Common-------------- -->
            <div class="menu-item col-6">
                <a href="{% url 'logout' %}">
                <div class="item-detail">
                    <i class="ion-ios-person item-color4"></i>
                    <p>Logout</p>
                </div>
                </a>
            </div>
        </div>
    </div>

    {% if user.username %}
    <form id="hidden-form" style="display: none;" action="{% url 'shop' shop.id%}" method="POST">
        {% csrf_token %}
        <input type="text" name="ret" value="index">
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            h_form = document.getElementById('hidden-form');
            document.getElementById('to-owner-shop').onclick = function() {
                h_form.submit();
            }
        });
    </script>
    {% endif %}

{% endblock %}
