{% extends "mainapp/base_index.html" %}
{% load static%}

{% block title %}
    Queue App
{% endblock %}

{% block body %}
    <div class="container-custom no-gutters">

        <div class="card-info">
            <div class="queue-info">
                <p class="queue-block main-color">Qbot Technology</p>
                <p class="queue-block">Yangon</p>
                <h2 class="queue-block">CS229</h2>
                <h3 class="queue-block">Shop Name</h3>
                <h4>Status: Waiting</h4>
                <h4>Date: 12:00PM</h4>
            </div>
        </div>

        <div class="main-menu row no-gutters">
            <!-- --------------Customer-------------- -->
            {% if phone_number %}
            <div class="menu-item col-6">
                <a href="{% url 'shop_list' %}">
                <div class="item-detail">
                    <i class="ion-ios-cart item-color1"></i>
                    <p>Shop List</p>
                </div>
                </a>
            </div>
            <div class="menu-item col-6">
                <a href="{% url 'tokens' %}">
                <div class="item-detail">
                    <i class="ion-ios-bookmarks item-color2"></i>
                    <p>Your Tokens</p>
                </div>
                </a>
            </div>

            <div class="menu-item col-6">
                <a href="#">
                <div class="item-detail">
                    <i class="ion-ios-telephone item-color4"></i>
                    {% if phone_number %}
                        <p>Ph: {{ phone_number }}</p>
                    {% else %}
                        <p>Add Phone Number</p>
                    {% endif %}
                </div>
                </a>
            </div>
            
            {% else %}
            <!-- --------------Owner-------------- -->
            <div class="menu-item col-6">
                <a href="{% url 'shop_profile' %}">
                <div class="item-detail">
                    <i class="ion-ios-cart item-color3"></i>
                    <p>Shop Profile</p>
                </div>
                </a>
            </div>

            <div class="menu-item col-6">
                <a href="#">
                <div class="item-detail">
                    <i class="ion-ios-bookmarks item-color2"></i>
                    <p>Queues & Booking</p>
                </div>
                </a>
            </div>
            {% endif %}

            <!-- --------------Common-------------- -->
            <div class="menu-item col-6">
                <a href="{% url 'logout' %}">
                <div class="item-detail">
                    <i class="ion-ios-person item-color4"></i>
                    <p>Logout</p>
                </div>
                </a>
            </div>

        </div>
        
    </div>

{% endblock %}
