{% extends "mainapp/base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Login</h1>
        {{ user.username }}
        <form action="{% url  'login' %}" method="POST">
            {% csrf_token %}
            <p>Username: </p>
            <input name="username" type="text"/>
            <p>Password: </p>
            <input name="password" type="password"/>
            <input type="submit" value="Login"/>
        </form>
        {% if message %}
            <div>
                {{ message }}
            </div>
        {% endif %}
        <br>
        <a href="{% url 'index' %}">Back to page</a>
        <a href="{% url 'register' %}">Register</a>
    </div>
{% endblock %}
