{% extends "mainapp/base_with_nav.html" %}

{% block title %}
    Register
{% endblock %}

{% block pagehead %}
    Register
{% endblock %}

{% block toggleicon %}
  <i class="ion-ios-personadd custom-icon"></i>
{% endblock %}

{% block backlink %}
    <a href="{% url 'index' %}"><i class="ion-ios-arrow-left back-btn"></i></a>
{% endblock %}

{% block body %}
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <!-- <div class="card-header">Register</div> -->
                    <div class="card-body">
                        <form action="{% url 'register' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">User Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="username" class="form-control" name="username" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Shop Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="shop_name" class="form-control" name="shop_name" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                    <input type="text" id="email_address" class="form-control" name="email" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    {% if message %}
                                        {% if success %}
                                        <div class="alert alert-success" role="alert">
                                            {{ message }}
                                        </div>
                                        {% else %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }}
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember"> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                                <a href="{% url 'login' %}" class="btn btn-link">
                                    Login
                                </a>

                                <a id="redirect-link" href="{% url 'login' %}" style="display: none;">Profile</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% if success %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('redirect-link').click();
    });
</script>
{% endif %}

{% endblock %}
