{% extends "mainapp/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Register</h1>
        {{ user.username }}
        <form action="{% url  'register' %}" method="POST">
            {% csrf_token %}
            <p>Username:</p>
            <input name="username" type="text"/>
            <p>Email:</p>
            <input name="email" type="email"/>
            <p>Password:</p>
            <input name="password" type="password"/>
            <input type="submit" value="Register"/>
        </form>
        <br>
        {% if message %}
            <div>
                {{ message }}
            </div>
        {% endif %}
        <br>
        <a href="{% url 'index' %}">Back to page</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endblock %}
