{% extends "mainapp/base_with_nav.html" %}
{% load static%}

{% block title %}
    Queue App
{% endblock %}

{% block pagehead %}
    Shop Detail
{% endblock %}

{% block toggleicon %}
  <i class="ion-ios-chatboxes-outline custom-icon"></i>
{% endblock %}

{% block backlink %}
    <a href="{% url 'shop_list' %}"><i class="ion-ios-arrow-left back-btn"></i></a>
{% endblock %}

{% block options %}

{% endblock %}

{% block body %}
    <div class="container-custom no-gutters">
        <div class="shop-container">
              <img src="{{ MEDIA_URL }}{{ shop.logo.name }}" alt="Shop logo">
              <div class="shop-detail-text">
                  <a class="link-header" href="{% url 'shop' shop.id %}"><h4>{{shop.name}}</h4></a>
                  <p><span>Type: </span>{{shop.shop_type}}</p>
                  <p><span>Capacity: </span>{{shop.capacity}}</p>
                  <p><span>Phone: </span>{{shop.phone_number}}</p>
                  <p><span>Address: </span>{{shop.address}}</p>
              </div>
        </div>

        <div class="shop-container back-grey">
          <div class="row">
            <div class="quebook-info col-sm-6">
              <h2>Queue</h2>
              <div class="row no-gutters">
                <p class="counter-text">{{ in_serving }}</p>
                <p class="counter-info">People in shop</p>
              </div>
              <div class="row no-gutters">
                <p class="counter-text">{{ in_queue }}</p>
                <p class="counter-info">People in queue</p>
              </div>
              <a href="{% url 'queue' shop.id %}" class="join-btn">Join</a>
            </div>

            <div class="quebook-info col-sm-6 no-gutters">
              <h2>Booking Times</h2>

              <form>
                <div class="row booking-row">
                    <select class="custom-select book-select" multiple>
                      <option selected>Select the booking time</option>
                      <option value="1">12:00PM</option>
                      <option value="2">12:30PM</option>
                      <option value="3">1:00PM</option>
                    </select>
                </div>
                <a href="#" class="book-btn">Book</a>
              </form>
                
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
