{% extends 'mainapp/base_with_nav.html' %}

{% block title %}
    Tokens
{% endblock title %}

{% block pagehead %}
    Tokens
{% endblock %}

{% block toggleicon %}
  <i class="ion-ios-chatboxes-outline custom-icon"></i>
{% endblock %}

{% block backlink %}
    <a href="{% url 'index' %}"><i class="ion-ios-arrow-left back-btn"></i></a>
{% endblock %}

{% block body %}
<div class="your-token-contain" style="padding-top: 10px; padding-bottom: 40px;">
    {% for token in token_list %}
        {% comment %} <div class="card-info">
            <div class="queue-info {% if token.on_call %}queue-active{% endif %}">
                <div class="row">
                    <div class="col">
                        <p class="queue-block main-color">Qbot Technology</p>
                        <p class="queue-block">Yangon</p>
                        <h2 class="queue-block">QB{{ token.queue_id }}</h2>
                        <h3 class="queue-block">{{ token.shop_name }}</h3>
                    </div>
                    <div class="col-5">
                        <a class="btn btn-light float-right m-1" href="{% url 'qr_view' token.id %}" role="button">
                            <div class="logo-qr"></div>
                        </a>
                        <h4 class="float-right m-1">Status: {{ token.status }}</h4>
                        <h4 class="float-right m-1">Date: 12:00PM</h4>
                        <a class="btn btn-danger float-right m-1" href="{% url 'cancel' token.shop_id %}" role="button">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <div class="card bd-10">
            <div class="row">
                <div class="col-4 pr-0">
                    <div class="token-container">
                        <h3 class="token-vertical-center">QB{{ token.queue_id }}</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="mt-1">
                        <label class="token-label">shop name</label>
                        <p class="token-text">{{ token.shop_name }}</p>
                    </div>
                    <div class="mt-1">
                        <label class="token-label">status</label>
                        <p class="token-text {% if token.on_call %}status-active{% elif token.on_serving %}status-serving{% endif %}">{{ token.status }}</p>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="d-flex justify-content-between align-items-center mt-1 mb-2 pr-2">
                        <div>
                            <label class="token-label">token id</label>
                            <p class="token-text">{{ token.id }}</p>
                        </div>
                        <a href="{% url 'qr_view' token.id %}" class="logo-qr mr-2"></a>
                    </div>
                </div>
            </div>
            <a class="btn-cross" href="
            {% if token.on_serving %}
                {% url 'success' token.shop_id %}
            {% else %}
                {% url 'cancel' token.shop_id %}
            {% endif %}
            ">
                <div id="cross"></div>
            </a>
        </div>
    {% empty %}
        <h2 class="not-result">No token</h2>
    {% endfor %}
</div>
{% endblock body %}