
html {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

/* ------------------------- */
/* REUSUABLE */
/* ------------------------- */

.main-color {
    color: rgb(0, 197, 138);
}

.link-header {
    text-decoration: none;
    color: rgb(0, 197, 138);
}

.link-header:hover {
    text-decoration: none;
    color: rgb(0, 173, 121);
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ------------------------- */
/* NAVBAR */
/* ------------------------- */

.main-nav img {
    height: 45px;
    width: auto;
}

.nav-text {
    display: inline-block;
    font-weight: 500;
    margin: 0px 20px 2px 15px;
    font-size: 110%;
    color: rgb(241, 241, 241);
}

/* ------------------------- */
/* Searching */
/* ------------------------- */

.container-custom h1 {
    font-weight: 300;
    margin-bottom: 40px;
}

.search-area {
    text-align: center;
    margin: 20px 0;
    padding: 0 5%;
}

.shop-search {
    padding-left: 10px;
    font-size: 100%;
    width: 85%;
    border: 1px solid rgb(202, 202, 202);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: border 0.2s;
}

.shop-search:focus {
    outline: none;
    border: 1px solid rgb(88, 88, 88);
}


/* ------------------------- */
/* Main Menu */
/* ------------------------- */

.card-info {
    padding: 15px 20px;
    background-color: rgb(236, 236, 236);
}

.queue-info {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgb(202, 202, 202);
    border-radius: 5px;
    transition: box-shadow 0.2s;
}

.queue-info:hover {
    box-shadow: 0px 0px 8px rgba(0, 173, 121, 0.507);
}

.queue-block {
    display: block;
    text-align: center;
}

.queue-info p{
    font-weight: 500;
    margin: 2px;
    font-size: 80%;
}

.queue-info h2{
    margin-top: 10px;
    font-size: 220%;
    font-weight: 400;
}

.queue-info h3{
    color: rgb(71, 71, 71);
    font-size: 105%;
}

.queue-info h4{
    font-weight: 500;
    font-size: 80%;
}

.main-menu {
    margin-top: 20px;
    padding: 0px 10px;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item a:link,
.menu-item a:visited {
    text-decoration: none;
    color: rgb(31, 31, 31);
}

.menu-item a:link,
.menu-item a:visited {
    text-decoration: none;
    color: rgb(10, 10, 10);
}

.item-detail {
    width: 90%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 10px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0px 1px 3px transparent;
    transition: box-shadow 0.2s;
}

.item-detail:hover {
    box-shadow: 1px 2px 5px rgb(180, 180, 180);
}

.item-detail i{
    padding-bottom: 2px;
    width: 80px;
    height: 80px;
    text-align: center;
    display: block;
    font-size: 290%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.item-color1 {
    background-color: #30D6CE;
}

.item-color2 {
    background-color: #FF6365;
}

.item-color3 {
    background-color: #0088CC;
}

.item-color4 {
    background-color: rgb(86, 172, 179);
}

.item-detail p{
    margin: 0 0 10px 0;
    text-align: center;
    display: block;
    font-size: 90%;
    font-weight: 500;
}

/* ------------------------- */
/* Contents */
/* ------------------------- */

.shop-section {
    margin-bottom: 30px;
}

.shop-section h2:after {
    display: block;
    height: 2px;
    background-color:rgb(0, 173, 121);
    content: " ";
    width: 116px;
    margin-top: 5px;
}

.shop-section h2 {
    font-size: 140%;
    margin-bottom: 30px;
    padding-left: 20px;
}

.shop-section .row {
    margin-right: 20px;
}

.shop-info {
    margin-right: 0;
    padding-left: 0;
}

.shop-info-body {
    margin-left: 20px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid rgba(199, 199, 199, 0.664);
    border-radius: 10px;
}

.shop-info-body img {
    display: inline-block;
    width: 100px;
    float: left;
    margin-top: 0px;
}

.shop-info-text {
    display: inline-block;
    margin-left: 20px;
}

.shop-info-text h4 {
    margin-bottom: 15px;
}

.shop-info-text p {
    margin-bottom: 5px;
}


/* ------------------------- */
/* Shop View Details */
/* ------------------------- */

.back-grey {
    background-color: #f6f6f6;
}

.shop-container {
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid rgba(199, 199, 199, 0.664);
}

.shop-container img {
    display: inline-block;
    float: left;
    max-width: 160px;
    width: 22%;
    height: auto;
}

.shop-detail-text {
    display: inline-block;
    margin-left: 20px;
}

.shop-detail-text p {
    font-size: 95%;
    font-weight: 500;
    margin-bottom: 5px;
}

.shop-detail-text span {
    font-size: 105%;
    color: rgb(148, 148, 148);
}

.quebook-info {
    padding-left: 20px;
}

.quebook-info .row {
    margin-left: 20px;
}

.quebook-info .row:last-child {
    margin-bottom: 15px;
}

.quebook-info h2 {
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 120%;
}

.counter-text {
    display: inline-block;
    float: left;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    font-size: 220%;
    font-weight: 500;
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(199, 199, 199, 0.664);
    color: rgb(0, 197, 138);
}

.counter-info {
    margin-left: 10px;
    font-size: 110%;
    padding-top: 36px;
    display: inline-block;
}

.book-table {
    margin: 0px 15px;
}

.book-row {
    margin-bottom: 10px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(189, 189, 189);
}

.book-row p {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 110%;
}

.join-btn {
    margin: 10px 20px 40px 20px;
    display: block;
    font-size: 120%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 153, 107);
    border: 1px solid transparent;
    border-radius: 5px;
    transition: color 0.2s, border 0.2s, background-color 0.2s;
}

.join-btn:hover {
    text-decoration: none;
    color: rgb(0, 153, 107);
    border: 1px solid rgb(0, 153, 107);
    background-color: inherit;
}

.booking-row {
    padding-top: 20px;
    width: 90%;
}

.book-select {
    font-size: 110%;
}

.book-select option {
    display: block;
    padding-left: 10px;
    padding-top: 7px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    transition: color 0.2s, background-color 0.2s;
}

.book-select option:active {
    color: black;
}

.book-select option:checked, option:hover {
    background: white linear-gradient(to bottom, rgb(214, 214, 214), rgb(206, 206, 206));
    color: rgb(0, 197, 138);
}


.book-btn {
    margin: 20px 20px 40px 20px;
    display: block;
    font-size: 120%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 153, 107);
    background-color:inherit;
    border: 1px solid rgb(0, 153, 107);
    border-radius: 5px;
    transition: color 0.2s, border 0.2s, background-color 0.2s;
}

.book-btn:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    background-color:rgb(0, 153, 107);
}


/* ------------------------- */
/* Shop Profile View */
/* ------------------------- */

.profile-container {
    padding: 20px;
}

.logo-profile-view {
    display: inline-block;
    width: 80px;
}

/* Don't come down rio
/* --------------------------- */
/* qr code css
/* --------------------------- */

.qrcode-text-btn {
    display: inline-block;
    height: 1em;
    width: 1em;
    background: url(../images/qr_icon.svg) 50% 50% no-repeat;
    cursor: pointer;
}

.qrcode-text-btn > input[type=file] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.qrcode-text {
    padding-right: 1.7em;
    margin-right: 0;
    vertical-align: middle;
}
  
.qrcode-text + .qrcode-text-btn {
    width: 1.7em;
    margin: auto;
    margin-left: -2em;
    vertical-align: middle;
}