
html {
    background-color: #fff;
    color: #555;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

/* ------------------------- */
/* REUSUABLE */
/* ------------------------- */

.link-header {
    text-decoration: none;
    color: rgb(0, 197, 138);
}

.link-header:hover {
    text-decoration: none;
    color: rgb(0, 173, 121);
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ------------------------- */
/* NAVBAR */
/* ------------------------- */

.main-nav img {
    height: 50px;
    width: auto;
}

.nav-text {
    display: inline-block;
    font-weight: 500;
    margin: 0px 20px 2px 15px;
    font-size: 110%;
    color: rgb(241, 241, 241);
}

/* ------------------------- */
/* Searching */
/* ------------------------- */

.container-custom h1 {
    font-weight: 300;
    margin-bottom: 40px;
}

.search-area {
    text-align: center;
    margin: 40px 0;
    padding: 0 10%;
}

.search-area h2 {
    margin-bottom: 20px;
}

/* ------------------------- */
/* Contents */
/* ------------------------- */

.shop-section {
    margin-bottom: 30px;
}

.shop-section h2:after {
    display: block;
    height: 2px;
    background-color:rgb(0, 173, 121);
    content: " ";
    width: 90px;
    margin-top: 5px;
}

.shop-section h2 {
    margin-bottom: 30px;
    padding-left: 20px;
}

.shop-section .row {
    margin-right: 20px;
}

.shop-info {
    margin-right: 0;
    padding-left: 0;
}

.shop-info-body {
    margin-left: 20px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid rgba(199, 199, 199, 0.664);
    border-radius: 10px;
}

.shop-info-body img {
    display: inline-block;
    width: 100px;
    float: left;
    margin-top: 0px;
}

.shop-info-text {
    display: inline-block;
    margin-left: 20px;
}

.shop-info-text h4 {
    margin-bottom: 15px;
}

.shop-info-text p {
    margin-bottom: 5px;
}


/* ------------------------- */
/* Shop View Details */
/* ------------------------- */

.back-grey {
    background-color: #f6f6f6;
}

.shop-container {
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid rgba(199, 199, 199, 0.664);
}

.shop-container img {
    display: inline-block;
    float: left;
    width: 160px;
}

.shop-detail-text {
    display: inline-block;
    margin-left: 40px;
}

.shop-detail-text p {
    margin-bottom: 5px;
}

.quebook-info {
    padding-left: 20px;
}

.quebook-info .row {
    margin-left: 20px;
}

.quebook-info .row:last-child {
    margin-bottom: 15px;
}

.quebook-info h2 {
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 120%;
}

.counter-text {
    display: inline-block;
    float: left;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    font-size: 220%;
    font-weight: 500;
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(199, 199, 199, 0.664);
    color: rgb(0, 197, 138);
}

.counter-info {
    margin-left: 10px;
    font-size: 110%;
    padding-top: 36px;
    display: inline-block;
}

.book-table {
    margin: 0px 15px;
}

.book-row {
    margin-bottom: 10px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(189, 189, 189);
}

.book-row p {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 110%;
}

.join-btn {
    margin: 10px 20px 40px 20px;
    display: block;
    font-size: 120%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 153, 107);
    border: 1px solid transparent;
    border-radius: 5px;
    transition: color 0.2s, border 0.2s, background-color 0.2s;
}

.join-btn:hover {
    text-decoration: none;
    color: rgb(0, 153, 107);
    border: 1px solid rgb(0, 153, 107);
    background-color: inherit;
}

.booking-row {
    width: 90%;
}

.book-select {
    font-size: 110%;
}

.book-select option {
    display: block;
    padding-left: 10px;
    padding-top: 7px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    transition: color 0.2s, background-color 0.2s;
}

.book-select option:checked, option:hover {
    background: white linear-gradient(to bottom, rgb(170, 212, 200), rgb(48, 180, 140));
    color: white;
}

.book-btn {
    margin: 20px 20px 40px 20px;
    display: block;
    font-size: 120%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 153, 107);
    background-color:inherit;
    border: 1px solid rgb(0, 153, 107);
    border-radius: 5px;
    transition: color 0.2s, border 0.2s, background-color 0.2s;
}

.book-btn:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    background-color:rgb(0, 153, 107);
}


/* ------------------------- */
/* Shop Profile View */
/* ------------------------- */

.profile-container {
    padding: 20px;
}

.logo-profile-view {
    display: inline-block;
    width: 80px;
}