
/* 
Color
rgb(24, 141, 192) 
#1AA2DC
*/

html {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility;
}

/* ------------------------- */
/* REUSUABLE */
/* ------------------------- */

.main-color {
    color: #1AA2DC;
}

.link-header {
    text-decoration: none;
    color: #7D7D7D;
}

.link-header:hover {
    text-decoration: none;
    color: rgb(24, 141, 192);
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.custom-icon {
    margin-top: -2px;
    color: rgb(245, 245, 245);
    font-size: 150%;
    display: inline-block;
    padding: 0px 0px;
}


/* ------------------------- */
/* NAVBAR */
/* ------------------------- */

.main-nav {
    background-color: #1AA2DC;
}

.main-nav img {
    height: 45px;
    width: auto;
}

.nav-text {
    display: inline-block;
    font-weight: 500;
    margin: 0px 20px 2px 15px;
    font-size: 110%;
    color: rgb(241, 241, 241);
}

.back-btn {
    font-size: 160%;
    display: inline-block;
    color : rgb(241, 241, 241);
    width: 45px;
    border-right: 2px solid rgb(22, 141, 192);
    padding-left: 5px;
}

.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}


/* ------------------------- */
/* Searching */
/* ------------------------- */

.container-custom h1 {
    font-weight: 300;
    margin-bottom: 40px;
}

.search-area {
    
}

.search-area-shop-list {
    margin: 20px 20px;
}

.not-result {
    padding-top: 20px;
    font-weight: 400;
    display: block;
    text-align: center;
    height: 60vh;
    color: #7D7D7D;
    margin: auto;
}

/* ------------------------- */
/* Main Menu */
/* ------------------------- */

.card-info {
    padding: 15px 20px;
    background-color: rgb(236, 236, 236);
}

.queue-info {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgb(202, 202, 202);
    border-radius: 5px;
    transition: box-shadow 0.2s;
}

.queue-info:hover {
    box-shadow: 0px 0px 8px #1AA2DC;
}

.queue-block {
    display: block;
    text-align: center;
}

.queue-info p{
    font-weight: 500;
    margin: 2px;
    font-size: 80%;
}

.queue-info h2{
    margin-top: 10px;
    font-size: 220%;
    font-weight: 400;
}

.queue-info h3{
    color: rgb(71, 71, 71);
    font-size: 105%;
}

.queue-info h4{
    font-weight: 500;
    font-size: 80%;
}

.main-menu {
    margin-top: 20px;
    padding: 0px 10px;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item a:link,
.menu-item a:visited {
    text-decoration: none;
    color: rgb(31, 31, 31);
}

.menu-item a:link,
.menu-item a:visited {
    text-decoration: none;
    color: rgb(10, 10, 10);
}

.item-detail {
    width: 90%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 10px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0px 1px 3px transparent;
    transition: box-shadow 0.2s;
}

.item-detail:hover {
    box-shadow: 0px 0px 3px rgb(180, 180, 180);
}

.item-detail i{
    padding-bottom: 2px;
    width: 80px;
    height: 80px;
    text-align: center;
    display: block;
    font-size: 340%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color: #fff;
}

.item-color1 {
    background-color: #30D6CE;
}

.item-color2 {
    background-color: #FF6365;
}

.item-color3 {
    background-color: #0088CC;
}

.item-color4 {
    background-color: rgb(86, 172, 179);
}

.item-detail p{
    margin: 8px 0 10px 0;
    text-align: center;
    display: block;
    font-size: 90%;
    font-weight: 500;
}

/* ------------------------- */
/* Shop List */
/* ------------------------- */

.shop-section {
    margin-bottom: 30px;
}

.shop-section h2:after {
    display: block;
    height: 2px;
    background-color:#1AA2DC;
    content: " ";
    width: 60px;
    margin-top: 5px;
}

.shop-section h2 {
    font-size: 120%;
    margin-bottom: 30px;
    padding-left: 20px;
}

.shop-section .row {
    margin-right: 10px;
}

.shop-info {
    margin-right: 0;
    padding-left: 0;
}

.shop-info-body {
    margin-left: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid rgba(199, 199, 199, 0.664);
    border-radius: 10px;
    box-shadow: 1px 1px 2px #DEDEDE;
    transform: border 0.2s;
}

.shop-info-body:hover {
    border: 1px solid #1AA2DC;
}

.shop-info-body img {
    display: inline-block;
    max-width: 100px;
    width: 20%;
    float: left;
    margin-top: 0px;
}

.shop-info-text {
    display: inline-block;
    margin-left: 15px;
}

.shop-info-text h4 {
    font-size: 140%;
    font-weight: 400;
    margin-bottom: 3px;
}

.shop-info-text p {
    font-size: 90%;
    font-weight: 500;
    margin-bottom: 5px;
}

.small-txt {
    font-size: 70%;
}

.small-que-txt {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    margin-left: 10px;
    color: #1AA2DC;
    font-size: 105%;
}

.capacity-book {
    margin-top: 0px;
    margin-right: 5px;
    float: right;
    display: inline-block;
}

.cap-box {
    padding: 0px 10px;
    border: 1px solid #BCC5E0;
    border-radius: 5px;
}

.cap-box p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.cap-box p:first-child {
    font-size: 60%;
}

.cap-box p:last-child {
    font-weight: 500;
}

.c-blue-btn {
    text-decoration: none;
    color: white;
    background-color: #1AA2DC;
    border: 1px solid transparent;
    transition: background-color 0.2s, border 0.2s;
    border-radius: 20px;
}

.c-blue-btn:hover {
    text-decoration: none;
    background-color: white;
    color: #1AA2DC;
    border: 1px solid #1AA2DC;
}

.book-now-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 80%;
    text-transform: uppercase;
}

.form-check-label {
    color: rgb(241, 241, 241);
}

.filter-div {
    display: none;
    font-size: 90%;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 48px;
    padding-bottom: 10px;
}

.filter-div p {
    margin-bottom: 5px;
    color: rgb(241, 241, 241);
}

/* ------------------------- */
/* Shop View Details */
/* ------------------------- */

.back-grey {
    background-color: #f6f6f6;
}

.shop-container {
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid rgba(199, 199, 199, 0.664);
}

.shop-container img {
    display: inline-block;
    float: left;
    max-width: 160px;
    width: 22%;
    height: auto;
}

.shop-detail-text {
    display: inline-block;
    margin-left: 20px;
}

.shop-detail-text p {
    font-size: 95%;
    font-weight: 500;
    margin-bottom: 5px;
}

.shop-detail-text span {
    font-size: 105%;
    color: rgb(148, 148, 148);
}

.quebook-info {
    padding-left: 20px;
}

.quebook-info .row {
    margin-left: 20px;
}

.quebook-info .row:last-child {
    margin-bottom: 15px;
}

.quebook-info h2 {
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 120%;
}

.counter-text {
    display: inline-block;
    float: left;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    font-size: 220%;
    font-weight: 500;
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(199, 199, 199, 0.664);
    color: #1AA2DC;
}

.counter-info {
    margin-left: 10px;
    font-size: 110%;
    padding-top: 36px;
    display: inline-block;
}

.book-table {
    margin: 0px 15px;
}

.book-row {
    margin-bottom: 10px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(189, 189, 189);
}

.book-row p {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 110%;
}

.join-btn {
    margin: 10px 20px 40px 20px;
    display: block;
    font-size: 120%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:#1AA2DC;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: color 0.2s, border 0.2s, background-color 0.2s;
}

.join-btn:hover {
    text-decoration: none;
    color: #1AA2DC;
    border: 1px solid #1AA2DC;
    background-color: inherit;
}

.booking-row {
    padding-top: 20px;
    width: 90%;
}

.book-select {
    font-size: 110%;
}

.book-select option {
    display: block;
    padding-left: 10px;
    padding-top: 7px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    transition: color 0.2s, background-color 0.2s;
}

.book-select option:active {
    color: black;
}

.book-select option:checked, option:hover {
    background: white linear-gradient(to bottom, rgb(214, 214, 214), rgb(206, 206, 206));
    color: #1AA2DC;
}


.book-btn {
    margin: 20px 20px 40px 20px;
    display: block;
    font-size: 120%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: #1AA2DC;
    background-color:inherit;
    border: 1px solid #1AA2DC;
    border-radius: 5px;
    transition: color 0.2s, border 0.2s, background-color 0.2s;
}

.book-btn:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    background-color:#1AA2DC;
}


/* ------------------------- */
/* Shop Profile View */
/* ------------------------- */

.profile-container {
    padding: 20px;
}

.logo-profile-view {
    display: inline-block;
    width: 80px;
}

/* ------------------------- */
/* Fisrt Time */
/* ------------------------- */

.first-container {
    background-color: rgba(0, 0, 0, 0.459);
    padding: 10% 12% 14%;
    margin-top: 30vh;
    border-radius: 10px;
}

.btn-first-time {
    font-size: 98%;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
}


@media only screen and (max-width: 600px) {
    .search-area {
      margin-top: 10px;
    }

    .filter-div {
        display: block;
    }
  }

/* ---------------------------------------------------------------------- */

/* Don't come down rio
/* --------------------------- */
/* qr code css
/* --------------------------- */

.qrcode-text-btn {
    display: inline-block;
    height: 1em;
    width: 1em;
    background: url(../images/qr_icon.svg) 50% 50% no-repeat;
    cursor: pointer;
}

.qrcode-text-btn > input[type=file] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.qrcode-text {
    padding-right: 1.7em;
    margin-right: 0;
    vertical-align: middle;
}
  
.qrcode-text + .qrcode-text-btn {
    width: 1.7em;
    margin: auto;
    margin-left: -2em;
    vertical-align: middle;
}


/* ----------------- */
/* token card css */
/* ----------------- */

.queue-active {
    background-color:rgb(0, 173, 121);
}

.queue-active * {
    color: #eee;
}

.queue-active h3 {
    color: #eee;
}

.logo-qr {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    background: url(../images/qr_icon.svg) 50% 50% no-repeat;
}

/* ----------------- */
/* qr view css */
/* ----------------- */

#qrcode * {
    margin: auto;
}